.projetos h2 {
    text-align: center;
}

.lista {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    max-height: calc(100vh - 160px);
    overflow: hidden auto;
    padding: 20px;
}