/* Estilos gerais */
.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .task-title-input, .task-description-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .add-task-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-task-button:hover {
    background-color: #218838;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .task-item.incomplete {
    background-color: #fff3cd; /* Amarelo para tarefas pendentes */
  }
  
  .task-item.complete {
    background-color: #d4edda; /* Verde para tarefas concluídas */
  }
  
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-actions {
    display: flex;
    gap: 10px;
  }
  
  .status-button, .edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .status-button {
    background-color: #007bff;
    color: white;
  }
  
  .status-button:hover {
    background-color: #0056b3;
  }
  
  .edit-button {
    background-color: #ffc107;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #e0a800;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  