.card {
    width: 300px;
    height: 300px;
    background-color: var(--soft-white);
    color: var(--gray);
    border-radius: 8px;
    box-shadow: 5px 5px 15px #222222;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h3 {
    color: #f8f4f4;
}

.card p {
    color: #f8f4f4d5;
}

.card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card_icones {
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    color: #803535;
}

.botao {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #803535;
    border-radius: 8px;
    color: #e4d9d9
}

.botao:hover {
    background-color: #a04f4f;
    transition: all 0.5s;
}