.tableResponsive {
    display: block;
    max-height: 75vh;
    overflow: auto;
    margin: 10px 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid var(--tertiary-color);
    padding: 8px;
    text-align: left;
    transition: all .2s;
}

.table tr:hover td {
    background-color: var(--quaternary-color);
}