.sidebar {
    background-color: var(--secondary-color);
    padding: 5px 0;
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    padding: 20px 0 0 10px;
    transition: all 0.3s;
    max-width: fit-content;
}

.sidebar .sidebarToggler {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 10px;
    font-size: 18px;
    color: var(--quaternary-color);
}

.sidebar .menu {
    display: block;
}

.sidebar .menu a {
    color: var(--text-light);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    max-width: 100%;
    padding: 10px;
    transition: all .5s;
}

.sidebar .menu a:hover {
    background-color: var(--tertiary-color);
    transition: all .3s;
}

.sidebar .menu a .icon {
    padding-right: 10px;
    font-size: 15px;
    display: inline-block;
    color: var(--quinary-color);
}

.sidebar .menu a .text {
    max-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s;
}

.sidebar:hover,
.sidebar.show {
    padding: 20px 0 0 15px;
}

.sidebar:hover .menu a .text,
.sidebar.show .menu a .text {
    max-width: 100px;
    padding-right: 50px;
}

.sidebar:hover .menu a,
.sidebar.show .menu a {
    padding-right: 50px;
}

