/* importa a fonte FiraSans */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #3B3B3B;
  --secondary-color: #2D2D2D;
  --tertiary-color: #7F8C8D;
  --quaternary-color: #025aaa;
  --quinary-color: #11b2b9;
  --text-dark: #2D2D2D;
  --text-light: #FFFFFF;
}

body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-light);
  max-width: 100vw;
  max-height: 100vw;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.full-screen {
  min-height: calc(100vh - 100px);
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.btn-success {
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-error {
  background-color: #dc3545;
}

.btn-error:hover {
  background-color: #c82333;
}

.btn-info {
  background-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
}



.d-none {
  display: none;
}

form div {
  margin-bottom: 1em;
}

form label {
  margin-bottom: .5em;
  color: var(--text-light);
  display: block;
}

input {
  border: 2px solid var(--quaternary-color);
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent !important;
  border-radius: .5em;
  box-shadow: none !important;
  outline: none !important;
  color: var(--text-light)
}


input[disabled] {
  pointer-events: none;
  border-color: #ccc;
}
